/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: "Whitney",sans-serif;
}
 /* Layout generic classes */

 .col{
     float: left;
 }

 .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER */
header{
    background-color: #3161e0;
    height: 80px;
    
}

.container{
    width: 70%;
    margin: auto;
}

/* NAv */

.col-logo,
.col-login{
    width: 23%;
}

.col-menu{
    width: 54%;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.menu{
    list-style-type: none;
}

.menu li{
    display: inline-block;
    vertical-align: middle;
}

.menu a{
    display: inline-block;
    line-height: 80px;
    text-decoration: none;
    padding: 0 20px;
    color: white;
}

.col-login{
    text-align: right;
}

