/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: "Whitney",sans-serif;
}
 /* Layout generic classes */

 .col{
     float: left;
 }

 .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER */
header{
    background-color: #3161e0;
    height: 80px;
    
}

.container{
    width: 70%;
    margin: auto;
}

/* NAv */

.col-logo,
.col-login{
    width: 23%;
}

.col-menu{
    width: 54%;  
}

.col-logo,
.col-menu,
.col-login{
    line-height: 80px;
}

.col-login{
    text-align: right;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.menu{
    list-style-type: none;
}

.menu li{
    display: inline-block;
    vertical-align: middle;
}

.menu a{
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
    color: white;
}


/* Buttons */
.btn{
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.btn-white{
    background-color: white;
    color: black;
}

.btn-black{
    background-color: black;
    color: white;
}

.btn-small{
    padding: 10px 10px;
    border-radius: 20px;
}

.btn-big{
    padding: 15px 20px;
    border-radius: 40px;
    font-size: 18px;
}

/* MAIN */

/* Jumbotron */
.jumbotron{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-content{
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
    padding: 90px 0;
}

/* Title and Text */
.title{
    font-size: 50px;
    line-height: 100px;
}

.text{
    font-size: 20px;
    line-height: 30px;
}

.jumbotron-btns{
    padding-top: 40px;
}

.jumbotron-btns a{
    margin-left: 20px ;
}

.arrow{
    font-size: 22px;
    font-weight: 900;
    vertical-align: baseline;
}